.header {
  background: $header-bg-color;
  color: $header-text-color;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: $site_max_width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
}